
.message {
    background-color: #ff822f;
    color: #ffffff;
    padding: 1em 2em 2em 2em;
    margin: 2em 0 0 0;
}

.messages {
    margin: 2em;
    border: 2px solid #ff822f;
    border-radius: 10px;
    padding: 5em;
    background-color: white;
}

#messageBarContainer {
    margin: 0 0 0 2em;

}

#message_bar {
    width: 50%;
    height: 3.5em;
    resize: none;
    border: 1px solid #ff822f;
}

/* Accept Button */
.accept-btn {
    background-color: #28a745;
    color: white;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.accept-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

/* Reject Button */
.reject-btn {
    background-color: #dc3545;
    color: white;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.reject-btn:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

#messageButton {
    font-size: 1em;
    width: auto; /* Adjust width as needed */
    padding: 1em 2em;
    cursor: pointer;
    background-color: #004E98; /* Blue background */
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1em 0; /* Adjust spacing */
    transition: all 0.3s ease;
}

#messageButton:hover {
    background-color: #003B75; /* Darker shade */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 59, 117, 0.5);
}


#applicantSubmitButton {
    font-size: 1em;
    width: 14.5%;
    padding: 1em 2em 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ff822f;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

#applicantSubmitButton:hover {
    background-color: #FF6700;  /* Darker shade for register */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #E55F00;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#applicant_message {
    resize: none;
    border: 2px solid #E55F00;
    width: 40%;
    height: 40vh;
}

#applicationFormContainer {
    margin: 0 2em 5em 2em;
}

#checkApplicationsContainer {
    border: 2px solid #004E98;
    display: block;
    width: 60%;
    margin: 0 2em 0 2em;
    padding: 1em 2em 1em 2em;
    background-color: white;
}

#submitApplicationButton {
    font-size: 1em;
    width: 15%;
    padding: 1em 2em 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #004E98;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-align: center; /* Center the text inside the button */
}

#submitApplicationButton:hover {
    background-color: #003B75;  /* Darker shade for register */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #003B75;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#checkApplicationsButton {
    font-size: 1em;
    width: 15%;
    padding: 1em 2em 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #004E98;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-align: center; /* Center the text inside the button */
    margin: 0 0 0 2em;
}

#checkApplicationsButton:hover {
    background-color: #003B75;  /* Darker shade for register */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #003B75;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.deletePostButton {
    font-size: 1em;
    width: 15%;
    padding: 1em 2em 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ff822f;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-align: center; /* Center the text inside the button */
    margin: 0 0 0 2em;
}

.deletePostButton:hover {
    background-color: #FF6700;  /* Darker shade for register */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #E55F00;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#deletePostContainer {
    margin: 2em;
    padding: 2em;
    border: 2px solid #004E98;
    border-radius: 5px;
}

#post_title {
    width: 15%;
    height: 2em;
    border: 2px solid #004E98;
}

#post_desc {
    border: 2px solid #004E98;
    width: 50%;
    height: 20vh;
    resize: none;
}

.returnButton {
    display: inline-block;
    text-align: center;
    padding: 1em 2em 1em 2em;
    width: 9em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color:#003B75;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.returnButton:hover {
    background-color: #003B75;  /* Darker shade for register */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 78, 152, 0.5);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.createPostForm {
    margin: 0 2em 0 2em;
    padding: 2em;
    background-color: #ffffff;
    border: 2px solid #004E98;
    border-radius: 15px;
}

.searchResults {
    width: 60%;
    border: 2px solid #E55F00;
    padding: 1em;
    background-color: #ffffff;
}

.applicant_main {
    margin: 2em 0 2em 0;
    padding: 0 0 0 3em;
}

#applicant_post_container {
    border: 1px solid #E55F00;
    padding: 2em;
    width: 92.5%;
    margin: 2em 0 0 0;
}

#applicant_account {
    width: 250px;
    height: 150px;
    margin: 0 4em 0 -4em;
    background-color: #E55F00;
    padding: 2em;
}

#applicant_account_container {
    display: inline-block;
    margin: 100px 0 0 75%;
}


.searchJobUserInput {
    width: 50%;
    margin: 15px 0 0 0;
    padding: 10px 10px 10px 10px;
    border: 1px solid #E55F00;
}

#createPostButton {
    display: inline-block; /* Make it behave like a block-level element */
    font-size: 1em;
    width: 15%;
    height: 2.5em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ff822f;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    text-align: center; /* Center the text inside the button */
    line-height: 2.3em; /* Vertically center the text inside the button */
}

#createPostButton:hover {
    background-color: #FF6700;  /* Darker shade for register */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #E55F00;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.searchJobUserButton {
    width: 15%;
    height: 3em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color:#003B75;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.searchJobUserButton:hover {
    background-color: #003B75;  /* Darker shade for register */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 78, 152, 0.5);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}


.home_main {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;
    width: 85%;
}

.searchUserCreatedResults_form {
    display: inline-block;
    width: 100%;
    padding: 0 0 0 2em;
}

.searchJobs {
    margin: 5em 0 50px 0;
    width: 90%;
    padding: 0 0 0 2em;
}

.account_container {
    position: absolute;
    right: 0%;
}

.account {
    width: 250px;
    height: 150px;
    margin: 0 4em 0 -4em;
    background-color: #E55F00;
    padding: 2em;
    border-radius: 15px;
}

.post_container {
    border: 1px solid #E55F00;
    padding: 2em;
}

.posts_frame {
    width: 50%;
    height: 30em;
    border: 1px solid #FF6700;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* Add a background color with double gradients */
    background: linear-gradient(to bottom, #ffffff 80%, transparent),
                linear-gradient(to bottom, #FF6700 100%, rgba(255, 0, 0, 0) 110%);
}


.nav_bar {
    display: flex;
}

.logo_container {
    margin: 1em 0 0 4em;
}

#logo {
    width: 100px;
    height: 100px;
}

.main {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 100px 0;
}

.login_form_container {
    display: inline-block;
    margin: 0;
    padding: 50px 50px 0px 50px;
    border: 1px solid #FF6700;
    border-radius: 20px;
    width: 30%;
    height: 30em;
    background-color: #ffffff;
}

.register_form_container {
    display: inline-block;
    margin: 0;
    padding: 50px 80px 0px 50px;
    border: 1px solid #004E98;
    border-radius: 15px;
    width: 30%;
    height: 40em;
    background-color: #ffffff;
}

#login-text, #register-text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#login-text {
    color: #FF6700;
}

#register-text {
    color: #004E98;
}

#form {
   padding: 20px 0 5px 0;
   display: block;
}

.login_email, .login_password, .register_fname, .register_lname, .register_email, .register_password, .register_role {
    width: 110%;
    margin: 15px 0 0 -1.4em;
    padding: 10px 10px 10px 10px;
}

#login_button, #register_button {
    margin: 0 0 0 25em;
    width: 25%;
    height: 3em;
    cursor: pointer;
    transition: all 0.3s ease;
}

#login_button {
    background-color:#ff822f;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.logout_button {
    background-color:#ffffff;
    color: #333138;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 1em 4em 1em 4em;
    cursor: pointer;
}

.logout_button:hover {
    background-color: #ff822f;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px #ffffff;
}

#register_button {
    background-color:#003B75;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

/* Hover animation */
#login_button:hover {
    background-color: #E55F00;  /* Darker shade for login */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 103, 0, 0.5);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#register_button:hover {
    background-color: #003B75;  /* Darker shade for register */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 78, 152, 0.5);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.log_form_content {
    display: inline-block;
    margin: 0 0 0 -5em;
}

.reg_form_content {
    display: inline-block;
    margin: 0 0 0 0;
}

.accepted_applicant {
    border: 2px solid #ff822f;
    width: 50%;
    padding: 1em;
}
